body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.nav-link{
    color: #A8A8A8;
  }
  
.nav-link:hover, .nav-link:focus, .nav-link.active{
  color: #1F1F1F;
  border-bottom: 3px solid #4107BB;
  transition:0s;
}
.icon-bell:hover, .icon-bell:focus{
  filter: invert(11%) sepia(98%) saturate(5938%) hue-rotate(263deg) brightness(70%) contrast(115%);
}
.dropdown-divider{
  color: #DEDEDE;
}
.profile{
  padding: 5px 0px 5px 15px;
  color: #4107BB;
  font-weight: 600;
}
.profile-details{
  padding: 5px 0px 5px 15px;
  display: flex;
}
.name{
  position: relative; 
  left: 15px; 
  font-weight: 600;
}
.position{
  position: relative;
  left: 15px;
  font-weight: 400;
  top: -7%;
  font-size: 14px;
}
.company{
  position: relative; 
  left: 15px;
  font-weight: 400;
  top: -20%;
  font-size: 12px;
  color: #A8A8A8;
}
.profile-settings{
  margin-bottom: 5px; 
  background-color: #4107BB; 
  border: none; 
  width: 90%;
  border-radius: 8px;
  padding: 3%;
}
.profile-logout{
  background-color: #FF6060;
  border: none;
  width: 90%;
  border-radius: 8px;
  padding: 3%;
}