:root{
    --white: #FFFFFF;
    --grey: #3b3b3b;
}
.user-header{
	height: 200px;
	padding: 10px;
	text-align: center;
}
.user-header p{
	z-index: 5;
}
.position{
    font-size: 12px;
    color: var(--grey);
}
.company{
	font-size: 13px;
}
.user-footer{
	background-color: #f9f9f9;
    padding: 10px;
    height: 55px;
}
.select2-container--default .select2-selection--single{
	height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 7px !important;
}
.select2{ 
	width: 100% !important;
}

/* login */

  .login-title{
    font-weight: 600;
    color: #4107BB;
    font-size: 20 px;
  }
  .form-control{
    border: 1px solid #DEDEDE;
    border-radius: 8px;
  }
  .login-label{
    font-size: 12px;
  }