<style>
    .scrollVue {
        max-height: 350px;
        overflow: scroll;
        margin-bottom: 20px;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>

<template>
    <div class="container">
        <!-- https://stackoverflow.com/questions/52703364/how-to-get-current-authenticated-user-id-using-vuejs-and-laravel/62689693 -->
        <!-- https://stackoverflow.com/questions/37638083/how-do-i-reverse-the-order-of-an-array-using-v-for-and-orderby-filter-in-vue-js -->
        <li class="dropdown">
            <a class="nav-link icon-bell" href="#" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-bottom: none;">
                <img src="/image/bell.png" alt="">
                <span class="badge alert-danger">{{ Badge }}</span>
            </a>

            <ul class="dropdown-menu" style="right: 0; left: auto; width: 300px; border-radius: 8px; top: 120%; border: none;" aria-labelledby="navbarDropdownMenuLink">
                <div class="profile">Notifications</div>
                <div class="dropdown-divider"></div>

                <!-- <div>
                    <div>
                        <div class="profile-details">
                            <div style="padding: 10px;">
                                <h6>Task Submission Approval</h6>
                                <p style="font-size: 15px; margin: 0; padding-bottom: 0">Your record for 2 December is approved by Super Admin</p>
                                <p style="font-size: 14px; margin : 0; padding-top:0; color:#888888;">Monday, 06 December 17:06</p>
                            </div>
                            
                        </div>

                        <div class="dropdown-divider"></div>

                        <div class="profile-details">
                            <div style="padding: 10px;">
                                <h6>Task Submission Approval</h6>
                                <p style="font-size: 15px; margin: 0; padding-bottom: 0">Your record for 2 December is rejected by Super Admin</p>
                                <p style="font-size: 14px; margin : 0; padding-top:0; color:#888888;">Monday, 06 December 17:16</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="scrollVue">
                    <div v-if="conversation.length > 0">
                        <div v-for="message in conversation.slice().reverse()" :key="message.id">
                            <div v-if="message.status == 'unread' || message.status == 'Unread'">
                                
                                    <div class="profile-details">
                                        <div style="padding: 10px;">
                                            <h6>{{ message.title }}</h6>
                                            <p style="font-size: 15px; margin: 0; padding-bottom: 0">{{ message.body }}</p>
                                            <p style="font-size: 14px; margin : 0; padding-top:5px; color:#888888;">{{ message.time_created }}</p>
                                        </div>
                                    </div>
                                
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="text-align: center; padding: 2%;">
                    <a href="#" type="button" class="btn btn-primary btn-sm profile-settings" @click="markNotificationAsRead">
                        MARK READ ALL NOTIFICATION
                    </a>
                </div>
            </ul>
        </li>
    </div>
</template>

<script>
    import axios, * as others from 'axios';

    export default {
        data() {
            return {
                conversation: [],
                Badge: '',
            }
        },

        mounted() {
            console.log('Notification Component Mounted')
            // console.log(this.$userId)

            this.scrollToEnd();
            this.fetchNotifications(this.$userId)
            
            window.Echo.channel('messages.' + this.$userId).listen("MessageCreated", (event) => {
                console.log('messages.' + this.$userId)
                this.conversation.push(event.message)
                this.Badge = ''
                let num = 0
                this.conversation.forEach(element => {
                    console.log(element.status)
                    if (element.status == 'Unread' || element.status == 'unread') {
                        num++
                    } 
                })
                this.Badge = num
            })
        },
        
        methods: {
            async fetchNotifications(id) {
                await axios.get(`/notification?id=${id}`).then((response) => {
                    let i = 0
                    response.data.forEach(element => {
                        this.conversation.push(response.data[i])
                        i++
                    })
                    
                    this.Badge = ''
                    let num = 0
                    this.conversation.forEach(element => {
                        console.log(element.status)
                        if (element.status == 'Unread' || element.status == 'unread') {
                            num++
                        } 
                    })
                    if(num != 0) {
                        this.Badge = num
                    }
                })
            },

            async markAsRead(id) {
                await axios.get(`/markAsRead?id=${id}`).then((response) => {
                    console.log(response)
                })
            },

            markNotificationAsRead() {
                if(confirm("Are you sure to clear all notifications?")) {
                    console.log('Run')
                    this.Badge = ''
                    this.conversation.forEach(element => {
                        if(element.status == 'Unread' || element.status == 'unread') {
                            this.markAsRead(element.id)
                        }
                        element.status = 'Read'
                    })
                }
            },

            scrollToEnd() {
                var container = document.querySelector(".scrollVue");
                var scrollHeight = container.scrollHeight;
                container.scrollTop = scrollHeight;
            }
        }

    }
</script>
